apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headquarter
  namespace: openshift-gitops
spec:
  project: headquarter
  source:
    repoURL: https://github.com/RHTE-2023-Edge-Lab/rhte-gitops.git
    targetRevision: main
    path: headquarter/base
  destination:
    server: https://kubernetes.default.svc
    namespace: headquarter
  syncPolicy:
    syncOptions:
    - CreateNamespace=false
    automated:
      selfHeal: true
      prune: true
    managedNamespaceMetadata:
      labels:
        argocd.argoproj.io/managed-by: openshift-gitops